POSTGRES_PASSWORD=BsDLXQMJzsWq7ecLFx1-4QcvWl7mFQT37GR9ylQB5t4

JWT_SECRET=u0sko/pf4W55WH1naOkSfx6oMQcUbeg80Fb7cCEelO4=

COOKIE_SECRET=cookie

ALLOWED_ORIGINS=http://localhost:5173

VITE_API_URL=http://localhost:3001
